# 1. MongoDB Atlas (Database)
MONGO_URI=xxxx

# 2. Cloudinary (Image storage)
CLOUDINARY_CLOUD_NAME=xxxx
CLOUDINARY_API_KEY=xxxx
CLOUDINARY_API_SECRET=xxxx

# 4. JWT Secret (Authentication)
JWT_SECRET=xxxx

